<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    table, tr, td {
        border: 1px solid black;
    }
</style>
<body>

<form method="POST" action="#" th:action="@{/add}" th:object="${xtable}" enctype="multipart/form-data">
    <input type="file" name="file" th:object="${file}"/>
    <p>Id: <input type="text" th:field="*{id}"></p>
    <p>typeEd: <input type="text" th:field="*{typeEd}" /></p>
    <p>xtime: <input type="text" th:field="*{xtime}"></p>
    <p>idTrans: <input type="text" th:field="*{idTrans}"></p>
    <p>code1: <input type="text" th:field="*{code1}"></p>
    <p>type2: <input type="text" th:field="*{type2}"></p>
    <p>conditions: <input type="text" th:field="*{conditions}"></p>
    <p>reg: <input type="text" th:field="*{reg}"></p>
    <p>date: <input type="text" th:field="*{date}"></p>
    <p>length: <input type="text" th:field="*{length}"></p>
    <p>offset: <input type="text" th:field="*{offset}"></p>
    <input type="submit" value="Добавить из XML" />
</form>
<form action="#" th:action="@{/upload}" method="post">
    <p><input type="submit" value="Загрузить данные" /></p>
</form>

<div>
    <table th:each="row : ${table}">
        <tr>
            <td th:text="${row.getId()}">id</td>
            <td th:text="${row.getTypeEd()}">typeed</td>
            <td th:text="${row.getXtime()}">xtime</td>
            <td th:text="${row.getIdTrans()}">idtrans</td>
            <td th:text="${row.getCode1()}">code1</td>
            <td th:text="${row.getType2()}">type2</td>
            <td th:text="${row.getConditions()}">conditions</td>
            <td th:text="${row.getReg()}">reg</td>
            <td th:text="${row.getDate()}">date</td>
            <td th:text="${row.getLength()}">length</td>
            <td th:text="${row.getOffset()}">offset</td>
            <td th:text="${row.getBic()}">bic</td>
            <td th:text="${row.getData1()}">data1</td>
            <td th:text="${row.getName()}">name</td>
        </tr>
    </table>
</div>
</body>
</html>